
body
{
	width: 1000px;
	background-color: #C1C1C1;
	height: 1410px;
	background-image:url('pic/car_lot_background.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
/*	color: yellow;
*/}

h4
{
	color: white;
	text-shadow: 3px 1px 2px rgba(0, 0, 0, 0.74);
}


#top_nav
{
	padding-top: 4px;
	padding-left: 15px;
	float: left;
	width: 1000px;
	height: 53px;
	position: fixed;
	background-color: white;
	border-bottom: 3px solid #927A64;
}

#top_nav input
{
	width: 80px;
}

#logo
{
	margin-top: -5px;
	margin-bottom: 3px;
	width: 260px;
}

#login
{
	float: right;
}

#login a
{
	color: red;
	text-decoration:underline;
	font-size: 11px;
	float: right;
}

/*#left_nav
{
	margin-top: 60px;
	padding-top: 10px;
	float: left;
	width: 200px;
	height: 200px;
	position: fixed;
}*/

#center_shell
{
	clear: both;
	float: right;
	width: 960px;
	height: 650;
	margin-top: 90px;
}

#center_shell h1
{
	font-size: 50px;
}

#add_new input
{
	width: 130px;
}